@import 'tailwindcss';

@import "tw-animate-css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


  /* --chart-3: hsl(30 80% 55%); */



:root {
    --background: hsl(0 0% 100%);
    --secondary-background: hsl(0 0% 97%);

    --foreground: hsl(0 0% 16%);
    --foreground-muted: hsl(0 0% 30%);
    --foreground-hover: hsl(0 0% 10%);
    --foreground-active: hsl(0 0% 0%);
    --foreground-active-link: hsl(221 80% 30%);
    --foreground-active-link-2: hsl(0 80% 40%);

    --card: hsl(0 0% 96%);

    /* --field: hsl(221, 39%, 85%); */
    --field: hsl(218, 92%, 95%);

    --popover: hsl(0 0% 96%);

    --content-bg: hsl(240, 5%, 92%);
    --content-bg-hover: hsl(240, 5%, 86%, 0.8);
    --content-bg-active: hsl(240, 5%, 82%, 0.8);

    --content-2-bg: transparent;
    --content-2-bg-hover: hsl(240, 5%, 92%);
    --content-2-bg-active: hsl(240, 5%, 82%, 0.8);

    --content-3-bg: transparent;
    --content-3-bg-hover: hsl(0 0% 96%);
    --content-3-bg-active: hsl(0 0% 93%);

    --primary: hsl(221 80% 30%);
    --primary-hover: hsl(221 80% 25%);
    --primary-active: hsl(221 80% 20%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(0 0% 40%);
    --secondary-hover: hsl(0 0% 35%);
    --secondary-active: hsl(0 0% 30%);
    --secondary-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 80% 40%);
    --destructive-hover: hsl(0 80% 35%);
    --destructive-active: hsl(0 80% 30%);
    --destructive-foreground: hsl(0 0% 100%);
    --success: hsl(120, 80%, 30%);
    --success-hover: hsl(120, 80%, 25%);
    --success-active: hsl(120, 80%, 20%);
    --success-foreground: hsl(0 0% 100%);

    --border: hsl(0 0% 88%);
}

.dark {
    --background: hsl(0, 0%, 0%);
    --secondary-background: hsl(0, 0%, 3%);

    --foreground: hsl(0 0% 78%);
    --foreground-muted: hsl(0 0% 40%);
    --foreground-hover: hsl(0 0% 95%);
    --foreground-active: hsl(0 0% 100%);
    --foreground-active-link: hsl(221, 83%, 50%);
    --foreground-active-link-2: hsl(0, 74%, 50%);

    --card: hsl(0 0% 4%);

    /* --field: hsl(221, 39%, 11%); */
    /* --field: hsl(240, 5%, 7%, 0.8); */
    /* --field: #1a1a1a; */
    --field: hsl(240, 9%, 6%);

    --popover: hsl(0 0% 4%);

    --content-bg: hsl(240, 5%, 7%, 0.8);
    --content-bg-hover: hsl(240, 5%, 10%, 0.8);
    --content-bg-active: hsl(240, 5%, 15%, 0.8);

    --content-2-bg: transparent;
    --content-2-bg-hover: hsl(240, 5%, 10%, 0.8);
    --content-2-bg-active: hsl(240, 5%, 15%, 0.8);

    --content-3-bg: transparent;
    --content-3-bg-hover: hsl(0 0% 3%);
    --content-3-bg-active: hsl(0 0% 6%);

    --primary: hsl(221, 83%, 50%);
    --primary-hover: hsl(221 83% 45%);
    --primary-active: hsl(221 83% 40%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(0 0% 30%);
    --secondary-hover: hsl(0 0% 25%);
    --secondary-active: hsl(0 0% 20%);
    --secondary-foreground: hsl(0 0% 100%);
    --destructive: hsl(0, 74%, 40%);
    --destuctive-hover: hsl(0, 74%, 38%);
    --destructive-active: hsl(0, 74%, 32%);
    --destructive-foreground: hsl(0 0% 100%);
    --success: hsl(120, 65%, 40%);
    --success-hover: hsl(120, 65%, 35%);
    --success-active: hsl(120, 65%, 30%);
    --success-foreground: hsl(0 0% 100%);

    --border: hsl(0, 0%, 7%);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

/** =============== BG =============== */
.bg-body {
    background-color: var(--background);
}

.bg-nav {
    background-color: var(--secondary-background);
}

.bg-card {
    background-color: var(--card);
}

.bg-popover {
    background-color: var(--popover);
}

.bg-field {
    background-color: var(--field);
}

/** =============== Text =============== */
.text-body {
    color: var(--foreground);
}

.text-body-muted {
    color: var(--foreground-muted);
}

.text-body-muted:hover,
.text-body:hover {
    color: var(--foreground-hover);
}

.text-body-muted:active,
.text-body:active {
    color: var(--foreground-active);
}

.text-active {
    color: var(--foreground-active);
}

.text-active-link {
    color: var(--foreground-active-link);
}

.text-active-link-2 {
    color: var(--foreground-active-link-2);
}

.stroke-body-muted {
    stroke: var(--foreground-muted);
}

.stroke-body-muted:hover {
    stroke: var(--foreground-hover);
}

.stroke-body-muted:active {
    stroke: var(--foreground-active);
}

/** =============== Buttons || Nice colors =============== */
.bg-primary {
    background-color: var(--primary);
}

.bg-primary:hover {
    background-color: var(--primary-hover);
}

.bg-primary:active {
    background-color: var(--primary-active);
}

.bg-primary-active {
    background-color: var(--primary-active);
}

.fill-primary {
    fill: var(--primary);
}

.fill-primary:hover {
    fill: var(--primary-hover);
}

.fill-primary:active {
    fill: var(--primary-active);
}

.fill-primary-active {
    fill: var(--primary-active);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-secondary:hover {
    background-color: var(--secondary-hover);
}

.bg-secondary:active {
    background-color: var(--secondary-active);
}

.bg-secondary-active {
    background-color: var(--secondary-active);
}

.fill-secondary {
    fill: var(--secondary);
}

.fill-secondary:hover {
    fill: var(--secondary-hover);
}

.fill-secondary:active {
    fill: var(--secondary-active);
}

.fill-secondary-active {
    fill: var(--secondary-active);
}

.bg-destructive {
    background-color: var(--destructive);
}

.bg-destructive:hover {
    background-color: var(--destructive-hover);
}

.bg-destructive:active {
    background-color: var(--destructive-active);
}

.bg-destructive-active {
    background-color: var(--destructive-active);
}

.fill-destructive {
    fill: var(--destructive);
}

.fill-destructive:hover {
    fill: var(--destructive-hover);
}

.fill-destructive:active {
    fill: var(--destructive-active);
}

.fill-destructive-active {
    fill: var(--destructive-active);
}

.bg-success {
    background-color: var(--success);
}

.bg-success:hover {
    background-color: var(--success-hover);
}

.bg-success:active {
    background-color: var(--success-active);
}

.bg-success-active {
    background-color: var(--success-active);
}

.fill-success {
    fill: var(--success);
}

.fill-success:hover {
    fill: var(--success-hover);
}

.fill-success:active {
    fill: var(--success-active);
}

.fill-success-active {
    fill: var(--success-active);
}

.text-for-bg-primary {
    color: var(--primary-foreground);
}

.text-for-bg-secondary {
    color: var(--secondary-foreground);
}

.text-for-bg-destructive {
    color: var(--destructive-foreground);
}

.text-for-bg-success {
    color: var(--success-foreground);
}

/** =============== Border =============== */
.border-muted {
    border-color: var(--border);
}

/** =============== Content Bg Action =============== */
.bg-content {
    background-color: var(--content-bg);
}

.bg-content:hover {
    background-color: var(--content-bg-hover);
}

.bg-content:active {
    background-color: var(--content-bg-active);
}

.bg-content-active {
    background-color: var(--content-bg-active);
}

.text-content {
    color: var(--primary-foreground);
}

.bg-content-2 {
    background-color: var(--content-2-bg);
}

.bg-content-2:hover {
    background-color: var(--content-2-bg-hover);
}

.bg-content-2:active {
    background-color: var(--content-2-bg-active);
}

.bg-content-2-active {
    background-color: var(--content-2-bg-active);
}

.bg-content-3 {
    background-color: var(--content-3-bg);
}

.bg-content-3:hover {
    background-color: var(--content-3-bg-hover);
}

.bg-content-3:active {
    background-color: var(--content-3-bg-active);
}

.bg-content-3-active {
    background-color: var(--content-3-bg-active);
}

/** =============== POPUP =============== */
.popup {
    border: 1px solid var(--border);
    box-shadow: 0.5px 0.5px 12px 0px rgba(0, 0, 0, 0.5);
    font-size: 16px !important;
    text-wrap: nowrap !important;
    overflow: hidden;
}

@media (max-width: 750px) {
    .popup {
        font-size: 13px !important;
        text-wrap: wrap !important;
        overflow: auto;
    }
}

.popup .swal2-icon.swal2-error .swal2-x-mark-line-left,
.popup .swal2-icon.swal2-error .swal2-x-mark-line-right {
    background-color: var(--destructive) !important; 
}

.popup .swal2-icon.swal2-error {
    border-color: var(--destructive) !important; 
}

.popup .swal2-icon.swal2-success .swal2-success-ring {
    border-color: var(--success) !important;
}

.popup .swal2-icon.swal2-success .swal2-success-line-tip,
.popup .swal2-icon.swal2-success .swal2-success-line-long {
    background-color: var(--success) !important;
}

.popup .swal2-icon.swal2-info {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.popup .swal2-icon.swal2-info::before {
    color: var(--primary) !important; 
}

/* Dialog */
.popup .swal2-icon.swal2-warning {
    color: hsl(48, 96%, 58%);
    border-color: hsl(48, 96%, 58%);
}

.popup .swal2-timer-progress-bar {
    background: var(--primary);
}

.popup .swal2-success-line-tip,
.popup .swal2-success-line-long {
    background-color: var(--success) !important;
}

.popup .swal2-success-ring {
    border-color: var(--success) !important;
}

/** =============== Scrollbar =============== */
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--destructive);
}